{% extends "master.html" %}
{% block title %}
Courses
{% endblock %}
{% block content %}
<div class = "search_button">
    <input id ="course-name" type="text" placeholder="Search..">
    <!-- <button>
        <a href="courses.html">Search</a>
    </button> -->
    <p class="filter_by"> Filter by </p>
    <select id="filter-dep">
        <option value="0">Department</option>
        <option value="0">Select Department:</option>
        <option value="IT">IT</option>
        <option value="IS">IS</option>
        <option value="AI">AI</option>
        <option value="CS">CS</option>
        <option value="DS">DS</option>
    </select>
</div>
<br>
  <table class="cards">
    <tr>
    {% for course in courses %}
        <td>
            <div class = "card">
                <h2>{{ course.course_name }}</h2>
                <p class="title1">{{ course.course_id }}</p>
                <p>Barvard University</p>
                <p>Number of Students: {{ course.course_students_count }}</p>
                <p>Department: {{ course.course_department }}</p>
                <div style="margin: 24px 0;">
                </div>
            </div>
        </td>
        {% if forloop.counter|divisibleby:3 %}
            </tr>
            <tr>
        {% endif %}
    {% endfor %}

    <button class = "create_new">
        <a href="{% url 'add_course_page' %}">Add New Course</a>
    </button>

{% endblock %}