{% extends "master.html" %}
{% block title %}
Departments 
{% endblock %}
{% block content %}
<div class="departmentBody">
    <div class="deps">
        <script>
             let courses = [];
            $.ajax({
           url: "/hatCourses",
            type: "GET",
        success: function(data){
         courses = data['courses'];         
         let content ="";
            let departments = ['CS' , 'IS' , 'IT' , 'AI' , 'DS'];
            for(var i in departments){
            
                content+="<div class=\"dep_container\">";
                content+="<div class=\"dep_header\">";
                content+="<h2>";
                content+=departments[i];
                content+="</h2>";
                content+="</div>";
                content+="<div class=\"dep_content\"><ul>";
                    for(var j in courses){
                        console.log(courses[j].course_department);
                    if(courses[j].course_department == departments[i]){
                    content+="<li>";
                    content+="<h3>";
                    
                    content+=courses[j].course_name;
                    content+="</h3>";
                    
                    content+="</li>";
                  }
                }
                content+="</ul></div>";
                content+="</div>";
            }
            document.getElementsByClassName("deps")[0].innerHTML=content;           
        },
        error: function(error){
            console.log(error);
        }
    })
    
        </script>
    </div>
</div>
{% endblock %}