{% extends "master.html" %}
{% load static %}
{% block title %}
Students
{% endblock %}
{% block content %}
<script src="{% static 'js/add_student_script.js' %}"></script>
<div class="centered">
    <form class="title" action="" method="post" onsubmit="return validateEditForm()" novalidate>
        {% csrf_token %}
        <label1 for="fname">First name:</label1>
        <input type="text" id="fname" name="fname" placeholder="Please enter your first name">
        
        <label1 for="lname">Last name:</label1>
        <input type="text" id="lname" name="lname" placeholder="Enter your last name" >
        
        <label1 for="universty">Universty:</label1>
        <input type="text" id="universty" name="universty" placeholder="Universty">
        
        <label1 for="stdID">STD ID:</label1>
        <div> {{ id }} </div>
        
        <label1 for="gender">Gender:</label1>
        <select name = "gender" >
            <option value="0">Select Gender:</option>
            <option value="Male" {% if gender == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if gender == "Female" %}selected{% endif %}>Female</option>
        </select>
        
        <label1 for="department">Department:</label1>
        <select name = "department" onchange="showoptions()">
            <option value="IT" {% if department == "IT" %}selected{% endif %}>IT</option>
            <option value="IS" {% if department == "IS" %}selected{% endif %}>IS</option>
            <option value="AI" {% if department == "AI" %}selected{% endif %}>AI</option>
            <option value="CS" {% if department == "CS" %}selected{% endif %}>CS</option>
            <option value="DS" {% if department == "DS" %}selected{% endif %} >DS</option>
        </select>
        
        <label1 for="status">Status:</label1>
        <select name = "status">
            <option value="0">Select status:</option>
            <option value="Active" {% if status == "Active" %}selected{% endif %}>Active</option>
            <option value="Inactive" {% if status == "Inactive" %}selected{% endif %}>Inactive</option>
        </select>
        
        
        <label1 for="courses">Courses:</label1>
        <div><select name = "course1">
            <option value="0" >Course 1:</option>
        </select>
        <select name = "course2">
            <option value="0">Course 2:</option>
        </select>
        <select name = "course3">
            <option value="0">Course 3:</option>
        </select> 
    </div>
    
    
    <label1 for="birthday">Birthdate:</label1>
    <input type="date" id="birthday" name="birthday" value={{ birthdate }}>
    
    <input type="submit" value="Submit">  
    <script>
        function deleteStudent(){
            deleteConfirm = confirm("Are you sure you want to delete this student?");
            if(deleteConfirm)
                window.location.href = "../delete_student/{{ idd }}";
        }
    </script>
    <button type="button" onclick = "deleteStudent()">Delete Student</button>
</form>
</div>
<script>
    // load default values
    var fname = "{{ fname }}";
    var lname = "{{ lname }}";
    var status = "{{ status }}";
    // var birthday = {{ birthdate }}
    var status = "{{ status }}"
    var gender = "{{ gender }}"
    var department = "{{ department }}"
    var course1 = "{{ course1 }}"
    var course2 = "{{ course2 }}"
    var course3 = "{{ course3 }}"
    var university = "{{ university }}"
    var stdID = "{{ id }}"
    document.getElementById("fname").value = fname;
    document.getElementById("lname").value = lname;
    document.getElementById("universty").value = university;

    $(document).ready(function(){
        showoptions();
    });
</script>
{% endblock %}